<app-heading text="Heading 1"></app-heading>

<main>
  <section>
    <app-heading text="Heading 2"></app-heading>

    <article>
      <app-heading text="Heading 3"></app-heading>
    </article>

    <article>
      <app-heading text="Heading 3"></app-heading>
    </article>
  </section>

  <section>
    <app-heading text="Heading 2"></app-heading>

    <article>
      <app-heading text="Heading 3"></app-heading>

      <div>
        <app-heading text="Heading 4"></app-heading>

        <div>
          <app-heading text="Heading 5"></app-heading>
        </div>

        <div>
          <app-heading text="Heading 5"></app-heading>
        </div>
      </div>

      <div>
        <app-heading text="Heading 4"></app-heading>
      </div>
    </article>

    <article>
      <header>
        <app-heading text="Heading 3"></app-heading>
      </header>
    </article>
  </section>
</main>
